@model IEnumerable<SMS.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h2 class="m-0 text-dark">Student List</h2>
        </div><!-- /.col -->
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a >Students</a></li> 
            </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container-fluid -->


<table id="studentTable" class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    
                    
                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.Sysid }, new { @class = "btn  btn-success li fa fa-eye" })
                    </td>
                </tr>
            }
        }


    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#studentTable").DataTable();

        });
    </script>
}